<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JustEatTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A67C70151CD48CD0003BC652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67C70291CD48CD4003BC652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67C70341CD48CD4003BC652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
